## 需求分析
1. 使用tushare包获取某股票的历史行情数据，并进行数据预处理
2. 输出该股票所有收盘比开盘上涨3%以上的日期
3. 输出该股票所有开盘比前日收盘跌幅超过2%的日期
4. 假如我从2010年1月1日开始，每月第一个交易日买入一手股票，每年最后一个交易日卖出所有股票，到今天为止，我的收益如何？

In [1]:
import tushare as ts
import pandas as pd
from pandas import Series, DataFrame

In [13]:
pro = ts.pro_api("6848a1962cda9db1a4f7410fc876acaced030e98e635923e2d2fad66")

df = pro.daily(**{
  'ts_code': "600036.SH",
  'start_date': "20220101",
})

df

       ts_code trade_date   open  ...  pct_chg        vol       amount
0    600036.SH   20220727  36.23  ...  -0.7707  442471.35  1597140.637
1    600036.SH   20220726  35.85  ...   1.3389  456285.22  1651632.360
2    600036.SH   20220725  35.38  ...   0.7305  404648.61  1447583.000
3    600036.SH   20220722  35.55  ...   0.3666  510332.74  1817477.340
4    600036.SH   20220721  35.54  ...  -1.0879  466240.82  1656137.612
..         ...        ...    ...  ...      ...        ...          ...
131  600036.SH   20220110  49.47  ...   0.3670  570936.34  2818145.071
132  600036.SH   20220107  48.14  ...   1.8692  660737.05  3219523.408
133  600036.SH   20220106  48.82  ...  -1.8349  681866.64  3299825.727
134  600036.SH   20220105  48.49  ...   1.4478  837173.75  4114524.304
135  600036.SH   20220104  48.71  ...  -0.7391  719606.45  3452352.170

[136 rows x 11 columns]

In [14]:
df.to_csv("./zhaoshang.csv")

In [65]:
df = pd.read_csv("./zhaoshang.csv")

In [66]:
df.drop(labels="Unnamed: 0", axis=1, inplace=True)
df

       ts_code  trade_date   open  ...  pct_chg        vol       amount
0    600036.SH    20220727  36.23  ...  -0.7707  442471.35  1597140.637
1    600036.SH    20220726  35.85  ...   1.3389  456285.22  1651632.360
2    600036.SH    20220725  35.38  ...   0.7305  404648.61  1447583.000
3    600036.SH    20220722  35.55  ...   0.3666  510332.74  1817477.340
4    600036.SH    20220721  35.54  ...  -1.0879  466240.82  1656137.612
..         ...         ...    ...  ...      ...        ...          ...
131  600036.SH    20220110  49.47  ...   0.3670  570936.34  2818145.071
132  600036.SH    20220107  48.14  ...   1.8692  660737.05  3219523.408
133  600036.SH    20220106  48.82  ...  -1.8349  681866.64  3299825.727
134  600036.SH    20220105  48.49  ...   1.4478  837173.75  4114524.304
135  600036.SH    20220104  48.71  ...  -0.7391  719606.45  3452352.170

[136 rows x 11 columns]

In [72]:
df.iloc[0]

ts_code         600036.SH
trade_date       20220727
open                36.23
high                36.35
low                 35.91
close               36.05
pre_close           36.33
change              -0.28
pct_chg           -0.7707
vol             442471.35
amount        1597140.637
Name: 0, dtype: object

In [ ]:
df['trade_date'] = pd.to_datetime(df['trade_date'], format='%Y%m%d')
df.set_index('trade_date', inplace=True)
print(df)

              ts_code   open   high  ...  pct_chg        vol       amount
trade_date                           ...
2022-07-27  600036.SH  36.23  36.35  ...  -0.7707  442471.35  1597140.637
2022-07-26  600036.SH  35.85  36.35  ...   1.3389  456285.22  1651632.360
2022-07-25  600036.SH  35.38  35.98  ...   0.7305  404648.61  1447583.000
2022-07-22  600036.SH  35.55  36.05  ...   0.3666  510332.74  1817477.340
2022-07-21  600036.SH  35.54  35.83  ...  -1.0879  466240.82  1656137.612
...               ...    ...    ...  ...      ...        ...          ...
2022-01-10  600036.SH  49.47  50.00  ...   0.3670  570936.34  2818145.071
2022-01-07  600036.SH  48.14  49.14  ...   1.8692  660737.05  3219523.408
2022-01-06  600036.SH  48.82  49.39  ...  -1.8349  681866.64  3299825.727
2022-01-05  600036.SH  48.49  49.68  ...   1.4478  837173.75  4114524.304
2022-01-04  600036.SH  48.71  48.71  ...  -0.7391  719606.45  3452352.170

[136 rows x 10 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 136 entries, 2022-07-27 to 2022-01-04
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ts_code    136 non-null    object
 1   open       136 non-null    float64
 2   high       136 non-null    float64
 3   low        136 non-null    float64
 4   close      136 non-null    float64
 5   pre_close  136 non-null    float64
 6   change     136 non-null    float64
 7   pct_chg    136 non-null    float64
 8   vol        136 non-null    float64
 9   amount     136 non-null    float64
dtypes: float64(9), object(1)
memory usage: 11.7+ KB

In [ ]:
df.index.dtype

dtype('<M8[ns]')

In [ ]:
df.columns

Index(['ts_code', 'open', 'high', 'low', 'close', 'pre_close', 'change',
       'pct_chg', 'vol', 'amount'],
      dtype='object')